body {
    background-image: url(../images/dai-hoc-phu-xuan-2023-mau-do.jpeg);
}
h1 {
    text-align: center;
    margin: 20px 0;
    color: #dc3545; /* Bootstrap primary color */
}
.btn-container {
    text-align: end;
    margin-bottom: 15px;
}
.table-container {
    max-width: 1000px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.table th {
    text-align: center;
}
.action-buttons a {
    margin-right: 5px;
}